<article class="flex flex-wrap">
  <div class="block mt-3 text-2xl">
    About:
  </div>
  <pre class="ad-content flex flex-wrap text-sm">
Job Title: E-commerce Web Developer (Shopify Specialist)


We are seeking an experienced E-commerce Web Developer specializing in Shopify to join our team. This role is crucial in designing, developing, and managing our e-commerce websites to enhance user experience and improve performance.


**Responsibilities:**


- Design and develop comprehensive and attractive Shopify stores.
- Customize Shopify themes based on client needs.
- Optimize user experience to ensure smooth navigation and ease of use.
- Integrate and manage apps and plugins to enhance store functionality.
- Collaborate with the marketing team to improve SEO and analyze performance.
- Provide technical support and maintain stores as needed.
- Conduct performance testing and ensure compatibility across various browsers and devices.


**Requirements:**


- Proven experience in building and managing Shopify websites.
- Strong skills in HTML, CSS, JavaScript, and Liquid.
- Good understanding of UX (User Experience) and UI (User Interface) design.
- Experience in integrating and optimizing apps and plugins.
- Ability to work effectively within a team and communicate clearly.
- Strong problem-solving skills and the ability to troubleshoot quickly and efficiently.


**Preferred Qualifications:**


- Experience in SEO optimization and performance analysis.
- Familiarity with design software like Adobe Photoshop or Sketch.
- Experience managing e-commerce projects.
- Certifications or training in e-commerce web development.




If you find yourself qualified and passionate about this role, please apply



Thank you for your interest in joining our team!
                </pre>
</article>
