<div>
  <div class="block flex align-items-center flex-wrap gap-2">
    <div>
      <i class="pi pi-tag text-600"></i>
    </div>
    <div class="flex align-items-end">
      <small class="text-600">
        <span class="text-red-600">
          Category:
        </span>
        <span>
          <p-tag [rounded]="true" severity="info" value="Jobs / Employment"></p-tag>
        </span>
      </small>
    </div>
  </div>
  <div class="block flex flex-wrap gap-2 mt-2">
    <div>
      <i class="pi pi-calendar text-600"></i>
    </div>
    <div class="flex align-items-center ">
      <small class="text-600">
        <span class="text-red-600">
          Posted:
        </span>
        <span>
          <p-tag [rounded]="true" severity="info" value="7 days ago"></p-tag>
        </span>
        <span>
          September 30 2024
        </span>
      </small>
    </div>
  </div>
  <div class="block flex flex-wrap gap-2 mt-2">
    <div>
      <i class="pi pi-map-marker text-600"></i>
    </div>
    <div class="flex align-items-center ">
      <small class="text-600">
        <span class="text-red-600">
          Region:
        </span>
        <span>
          Riyadh, Riyadh, Saudi Arabia
        </span>
      </small>
    </div>
  </div>
  <div class="block flex flex-wrap gap-2 mt-2">
    <div>
      <i class="pi pi-envelope text-600"></i>
    </div>
    <div class="flex align-items-center ">
      <small class="text-600">
        <span class="text-red-600">
          Email:
        </span>
        <span>
          abdul.rahim.shaikh.sa@gmail.com
        </span>
      </small>
    </div>
  </div>
  <div class="block flex flex-wrap gap-2 mt-2">
    <div>
      <i class="pi pi-phone text-600"></i>
    </div>
    <div class="flex align-items-center ">
      <small class="text-600">
        <span class="text-red-600">
          Phone:
        </span>
        <span>
          +966594951370
        </span>
      </small>
    </div>
  </div>
  <div class="block flex flex-wrap gap-2 mt-2">
    <div>
      <i class="pi pi-whatsapp text-600"></i>
    </div>
    <div class="flex align-items-center ">
      <small class="text-600">
        <span class="text-red-600">
          Whatsapp:
        </span>
        <span>
          +966594951370
        </span>
      </small>
    </div>
  </div>
</div>
