<div class="flex flex-column h-full">
  <div class="flex-initial">
    <app-head-navbar></app-head-navbar>
  </div>
  <div class="flex-auto h-full m-0 p-0 overflow-auto">
    <router-outlet></router-outlet>
  </div>
  <div class="flex-wrap border-top-1 border-500">
    <div class="text-600" style="float:left">
      {{'\u00A9'}}
      <small>
        Charlemagne | All rights reserved
      </small>
    </div>
    <div class="text-600" style="float:right">
      <small>
        Made with PrimeFlex
      </small>
    </div>
  </div>
</div>
